:root {
    --primary-color: #0a1128;
    --white-color: #ffffff;
    --dark-gray-color: #2e3038;
  
    --container-width: 120rem;
    --container-width-small: 80rem;
    --container-images: 36rem;
  
    --spacings-xsmall: 1rem;
    --spacings-small: 2rem;
    --spacings-medium: 3rem;
    --spacings-large: 5rem;
    --spacings-xlarge: 8rem;
    --spacings-xxlarge: 11rem;
  
    --font-bold: 700;
    --font-xxlarge: 10rem;
    --font-xlarge: 8rem;
    --font-large: 6rem;
    --font-medium: 4rem;
    --font-normal: 2.3rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-xxsmall: 1.4rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
